### Include Librairies

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import math
from datetime import *
import pygal             # Usefull for french map
from pygal.style import Style
import matplotlib.pyplot as plt
import requests
import json
import csv

%matplotlib inline

### Import Data

In [2]:
df = pd.read_csv('data.csv')

In [ ]:
df.head(5)

### Check row

In [4]:
df['activitePrincipaleEtablissement'].count()

998

### Slipt Columns

In [5]:
columns_int = df.select_dtypes(include=['int']).columns
columns_int

Index(['siren', 'nic', 'siret', 'nombrePeriodesEtablissement',
       'categorieJuridiqueUniteLegale', 'nicSiegeUniteLegale',
       'codePostalEtablissement', 'codeCommuneEtablissement'],
      dtype='object')

In [6]:
columns_float = df.select_dtypes(include=['float']).columns
columns_float

Index(['anneeEffectifsEtablissement', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'pseudonymeUniteLegale',
       'identifiantAssociationUniteLegale', 'anneeEffectifsUniteLegale',
       'anneeCategorieEntreprise', 'numeroVoieEtablissement',
       'libelleCommuneEtrangerEtablissement', 'codeCedexEtablissement',
       'codePaysEtrangerEtablissement', 'libellePaysEtrangerEtablissement',
       'complementAdresse2Etablissement', 'numeroVoie2Etablissement',
       'indiceRepetition2Etablissement', 'codePostal2Etablissement',
       'libelleCommuneEtranger2Etablissement',
       'distributionSpeciale2Etablissement', 'codeCommune2Etablissement',
       'codeCedex2Etablissement', 'libelleCedex2Etablissement',
       'codePaysEtranger2Etablissement', 'libellePaysEtranger2Etablissement',
       'dateFin', 'enseigne2Etablissement', 'enseigne3Etablissement'],
      dtype='object')

In [7]:
columns_object = df.select_dtypes(include=['object']).columns
columns_object

Index(['statutDiffusionEtablissement', 'dateCreationEtablissement',
       'trancheEffectifsEtablissement',
       'activitePrincipaleRegistreMetiersEtablissement',
       'dateDernierTraitementEtablissement', 'etatAdministratifUniteLegale',
       'statutDiffusionUniteLegale', 'unitePurgeeUniteLegale',
       'dateCreationUniteLegale', 'denominationUniteLegale',
       'sigleUniteLegale', 'denominationUsuelle1UniteLegale',
       'sexeUniteLegale', 'nomUniteLegale', 'nomUsageUniteLegale',
       'prenom1UniteLegale', 'prenom2UniteLegale', 'prenom3UniteLegale',
       'prenom4UniteLegale', 'prenomUsuelUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'caractereEmployeurUniteLegale',
       'trancheEffectifsUniteLegale', 'dateDernierTraitementUniteLegale',
       'categorieEntreprise', 'complementAdresseEtablissement',
       'indiceRepetitionEtablissement', 'typeVoieEtablissement',
       'libelleVoieEtablissement', 'libelleCommuneEtablissement',
       'distributionSpecialeEtablissement', 'libelleCedexEtablissement',
       'typeVoie2Etablissement', 'libelleVoie2Etablissement',
       'libelleCommune2Etablissement', 'dateDebut',
       'etatAdministratifEtablissement', 'enseigne1Etablissement',
       'denominationUsuelleEtablissement', 'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'],
      dtype='object')

### Nombre d'entreprise differentes :

In [8]:
df['siren'].nunique()

879

### Nombre de Ligne :

In [9]:
df['siren'].count()

1000

### Verification du nombre de Siret
qui doit etre égale au nombre de ligne

In [10]:
df['siret'].nunique()

1000

### Ont groupebt('siren') pour verifier les information precedentes
c'est regrouper par entreprise

In [11]:
df.groupby('siren').first().count()

nic                                               879
siret                                             879
statutDiffusionEtablissement                      879
dateCreationEtablissement                         160
trancheEffectifsEtablissement                     423
anneeEffectifsEtablissement                        27
activitePrincipaleRegistreMetiersEtablissement      4
dateDernierTraitementEtablissement                122
etablissementSiege                                879
nombrePeriodesEtablissement                       879
etatAdministratifUniteLegale                      879
statutDiffusionUniteLegale                        879
unitePurgeeUniteLegale                            740
dateCreationUniteLegale                           879
categorieJuridiqueUniteLegale                     879
denominationUniteLegale                           177
sigleUniteLegale                                    5
denominationUsuelle1UniteLegale                    17
denominationUsuelle2UniteLegale                     0
denominationUsuelle3UniteLegale                     0
sexeUniteLegale                                   702
nomUniteLegale                                    702
nomUsageUniteLegale                               117
prenom1UniteLegale                                702
prenom2UniteLegale                                150
prenom3UniteLegale                                 49
prenom4UniteLegale                                  5
prenomUsuelUniteLegale                            702
pseudonymeUniteLegale                               0
activitePrincipaleUniteLegale                     877
                                                 ...
distributionSpecialeEtablissement                  14
codeCommuneEtablissement                          879
codeCedexEtablissement                              5
libelleCedexEtablissement                           5
codePaysEtrangerEtablissement                       0
libellePaysEtrangerEtablissement                    0
complementAdresse2Etablissement                     0
numeroVoie2Etablissement                            1
indiceRepetition2Etablissement                      0
typeVoie2Etablissement                              1
libelleVoie2Etablissement                           1
codePostal2Etablissement                            1
libelleCommune2Etablissement                        1
libelleCommuneEtranger2Etablissement                0
distributionSpeciale2Etablissement                  0
codeCommune2Etablissement                           1
codeCedex2Etablissement                             0
libelleCedex2Etablissement                          0
codePaysEtranger2Etablissement                      0
libellePaysEtranger2Etablissement                   0
dateFin                                             0
dateDebut                                         745
etatAdministratifEtablissement                    879
enseigne1Etablissement                             10
enseigne2Etablissement                              0
enseigne3Etablissement                              0
denominationUsuelleEtablissement                    2
activitePrincipaleEtablissement                   877
nomenclatureActivitePrincipaleEtablissement       877
caractereEmployeurEtablissement                   879
Length: 78, dtype: int64

## Methode 1 : NAF, APE

### Function Mean Date / Print Info

In [ ]:
def mean_date(data):
    tot_date = 0
    count = 0
    
    for value in data:
        try:
            tot_date += value.year
            count += 1
        except:
            pass
    if count != 0:
        return int(tot_date/count)
    else:
        return 0

In [13]:
def print_infos(name_value,nb_value,mean_date_value,name_code,max_code):
    
    total = 0
    
    for i in range(len(name_value)):
        total += nb_value[i]
        try:
            l = i * 3 
            print("-Name : %s, \tTotal : %s, mean_date : %s, \tCode Commune (3): %s,%s,%s, nb_entreprises : %s,%s,%s, Département : %s,%s,%s\n" %(name_value[i],nb_value[i],mean_date_value[i],name_code[l],name_code[l+1],name_code[l+2],max_code[l],max_code[l+1],max_code[l+2],code_departement[l],code_departement[l+1],code_departement[l+2]))
               
        except:
            pass
        
    print("\nTotal siren : ",total)

### Find main Region foreach activitie

In [14]:
def max_region(data,df):
    
    list_code_commune = list()
    save_code_commune = list()
    save_count = list()
    final_save_count = list()
    final_name_code = list()

    for i in range(len(df)):
        try:
            list_code_commune.append(data[i])
        except:
            pass
          
    for i in range(len(list_code_commune)):
        count = 0
        for j in range(i,len(list_code_commune)):
            if list_code_commune[i] == list_code_commune[j]:
                count += 1
        if list_code_commune[i] not in save_code_commune:
            save_code_commune.append(list_code_commune[i])
            save_count.append(count)
       
    try:
        final_save_count.append(max(save_count))
        max_save_count = final_save_count[-1]
        nb_max = 3
    
        save = save_count[0]
    
        for j in range(nb_max-1):
            for i in range(len(save_count)):
                if save_count[i] > save and save_count[i] < max_save_count:
                    save = save_count[i]
            final_save_count.append(save)
            max_save_count = save
            save = save_count[0]
    except:
        pass
     
    for value in final_save_count:
        try:
            m_index = [i for i, j in enumerate(save_count) if j == value ]
            final_name_code.append(save_code_commune[m_index[0]])
            
        except:
            pass
            
    return final_name_code,final_save_count

### Function chiffres : Split Code_Commune

In [15]:
def chiffres(n):
    c = []
    while n >= 1:
        c.append(int(n % 10))
        n = n / 10
        
    save = 0
    for i in range(int(len(c)/2)):
        save = c[i]
        c[i] = c[-i -1]
        c[-i-1] = save
    return c

### Convert Code_Commune to Code_Departement

In [16]:
def code_depart(code):
    code_departement = []
    try:
        c = chiffres(int(code))
        #print(c)
        code_departement.append(c[0]*10 +c[1])

    except:
        pass
    
    return code_departement

### Print Info Nomenclature Activite Principale Etablissement

In [17]:
tot = 0
name_value = list()
nb_value = list()
mean_date_value = list()
name_code = list()
max_code = list()
code_departement = list()

col_nomenclature = df['activitePrincipaleEtablissement'].unique()

for value in col_nomenclature:
    tot_imp = len(df[df['activitePrincipaleEtablissement'] == value].groupby('siren').first())

    #meandate = mean_date(df[df['activitePrincipaleEtablissement'] == value]['dateCreationEtablissement'])
    code,m = max_region(df[df['activitePrincipaleEtablissement'] == value]['codeCommuneEtablissement'],df)
    
    meandate= 0
    # Save Infos
    name_value.append(value)
    nb_value.append(tot_imp)
    mean_date_value.append(meandate)
    
    for i in range(len(code)):
        name_code.append(code[i])
        max_code.append(m[i])
    
    
    for i in range(len(code)):
        try:
            c = chiffres(int(code[i]))
            #print(c)
            code_departement.append(c[0]*10 +c[1])

        except:
            pass
    

# Print infos
print_infos(name_value,nb_value,mean_date_value,name_code,max_code)

-Name : 32.12Z, 	Total : 14, mean_date : 0, 	Code Commune (3): 97611,97608,98727.0, nb_entreprises : 7,2,1, Département : 97,97,98

-Name : 47.89Z, 	Total : 150, mean_date : 0, 	Code Commune (3): 97611,97615,80001.0, nb_entreprises : 93,12,6, Département : 97,97,80

-Name : 95.24Z, 	Total : 2, mean_date : 0, 	Code Commune (3): 54528.0,54528.0,54528.0, nb_entreprises : 1,1,1, Département : 54,54,54

-Name : 85.59A, 	Total : 6, mean_date : 0, 	Code Commune (3): 97611,2691.0,2691.0, nb_entreprises : 2,1,1, Département : 97,26,26

-Name : 22.02, 	Total : 57, mean_date : 0, 	Code Commune (3): 44057.0,80765.0,80765.0, nb_entreprises : 2,1,1, Département : 44,80,80

-Name : 79.06, 	Total : 150, mean_date : 0, 	Code Commune (3): 06004,21231,47001, nb_entreprises : 24,23,18, Département : 60,21,47

-Name : 64.42, 	Total : 55, mean_date : 0, 	Code Commune (3): 47001,80025.0,80025.0, nb_entreprises : 4,2,2, Département : 47,80,80

-Name : 70.2C, 	Total : 1291, mean_date : 0, 	Code Commune (3): 21231,06004,44184.0, nb_entreprises : 103,68,64, Département : 21,60,44

-Name : 57.11, 	Total : 15, mean_date : 0, 	Code Commune (3): 21231,80001.0,80001.0, nb_entreprises : 3,1,1, Département : 21,80,80

-Name : 55.4B, 	Total : 181, mean_date : 0, 	Code Commune (3): 21231,44184.0,80001.0, nb_entreprises : 16,13,6, Département : 21,44,80

-Name : 64.45, 	Total : 65, mean_date : 0, 	Code Commune (3): 21231,47001,80001.0, nb_entreprises : 14,6,5, Département : 21,47,80

-Name : 62.43, 	Total : 410, mean_date : 0, 	Code Commune (3): 21231,06004,47001, nb_entreprises : 32,22,20, Département : 21,60,47

-Name : 65.06, 	Total : 173, mean_date : 0, 	Code Commune (3): 21231,06027,44184.0, nb_entreprises : 9,7,6, Département : 21,60,44

-Name : 67.05, 	Total : 145, mean_date : 0, 	Code Commune (3): 21231,47001,80001.0, nb_entreprises : 8,7,6, Département : 21,47,80

-Name : 74.1J, 	Total : 210, mean_date : 0, 	Code Commune (3): 21231,80001.0,80001.0, nb_entreprises : 24,8,8, Département : 21,80,80

-Name : 67.07, 	Total : 142, mean_date : 0, 	Code Commune (3): 80001.0,44184.0,80488.0, nb_entreprises : 4,3,2, Département : 80,44,80

-Name : 65.03, 	Total : 104, mean_date : 0, 	Code Commune (3): 21231,44184.0,4070.0, nb_entreprises : 7,5,4, Département : 21,44,40

-Name : 50.1Z, 	Total : 102, mean_date : 0, 	Code Commune (3): 06004,21231,06027, nb_entreprises : 8,6,5, Département : 60,21,60

-Name : 65.02, 	Total : 140, mean_date : 0, 	Code Commune (3): 21231,47001,44184.0, nb_entreprises : 14,7,4, Département : 21,47,44

-Name : 62.41, 	Total : 102, mean_date : 0, 	Code Commune (3): 21231,06004,47001, nb_entreprises : 16,11,7, Département : 21,60,47

-Name : 68.20B, 	Total : 1076, mean_date : 0, 	Code Commune (3): 21231,06004,79191, nb_entreprises : 96,66,40, Département : 21,60,79

-Name : 57.03, 	Total : 62, mean_date : 0, 	Code Commune (3): 06004,47031,47001, nb_entreprises : 13,9,6, Département : 60,47,47

-Name : 62.11, 	Total : 503, mean_date : 0, 	Code Commune (3): 06004,21231,47001, nb_entreprises : 39,28,18, Département : 60,21,47

-Name : 38.50, 	Total : 67, mean_date : 0, 	Code Commune (3): 47001,21231,06123, nb_entreprises : 7,5,3, Département : 47,21,61

-Name : 46.69B, 	Total : 13, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 4,4,4, Département : 80,80,80

-Name : 45.3F, 	Total : 22, mean_date : 0, 	Code Commune (3): 21231,76035,80001.0, nb_entreprises : 3,2,1, Département : 21,76,80

-Name : 52.4Y, 	Total : 17, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 2,2,2, Département : 80,80,80

-Name : 28.6F, 	Total : 5, mean_date : 0, 	Code Commune (3): 80001.0,80692.0,80692.0, nb_entreprises : 2,1,1, Département : 80,80,80

-Name : 52.4N, 	Total : 56, mean_date : 0, 	Code Commune (3): 47001,21603,80001.0, nb_entreprises : 4,3,2, Département : 47,21,80

-Name : 47.71Z, 	Total : 83, mean_date : 0, 	Code Commune (3): 97611,21231,97610, nb_entreprises : 20,8,7, Département : 97,21,97

-Name : 10.81Z, 	Total : 1, mean_date : 0, 	Code Commune (3): 80688.0,80688.0,80688.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 52.10B, 	Total : 15, mean_date : 0, 	Code Commune (3): 44103.0,62688.0,62688.0, nb_entreprises : 2,1,1, Département : 44,62,62

-Name : 70.10Z, 	Total : 64, mean_date : 0, 	Code Commune (3): 21231,21464,35238, nb_entreprises : 8,3,2, Département : 21,21,35

-Name : 46.75Z, 	Total : 2, mean_date : 0, 	Code Commune (3): 62233.0,62233.0,62233.0, nb_entreprises : 1,1,1, Département : 62,62,62

-Name : 64.12, 	Total : 88, mean_date : 0, 	Code Commune (3): 44184.0,47001,44055.0, nb_entreprises : 7,5,4, Département : 44,47,44

-Name : 58.12, 	Total : 16, mean_date : 0, 	Code Commune (3): 21231,80001.0,80001.0, nb_entreprises : 2,1,1, Département : 21,80,80

-Name : 38.40, 	Total : 278, mean_date : 0, 	Code Commune (3): 21231,44184.0,79191, nb_entreprises : 26,13,12, Département : 21,44,79

-Name : 51.2A, 	Total : 28, mean_date : 0, 	Code Commune (3): 4143.0,80663.0,80663.0, nb_entreprises : 2,1,1, Département : 41,80,80

-Name : 81.21, 	Total : 810, mean_date : 0, 	Code Commune (3): 21231,06004,47001, nb_entreprises : 66,54,44, Département : 21,60,47

-Name : 20.01, 	Total : 4, mean_date : 0, 	Code Commune (3): 80235.0,80235.0,80235.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 44.33, 	Total : 4, mean_date : 0, 	Code Commune (3): 80019.0,80019.0,80019.0, nb_entreprises : 4,4,4, Département : 80,80,80

-Name : 52.4T, 	Total : 20, mean_date : 0, 	Code Commune (3): 21231,80001.0,4049.0, nb_entreprises : 4,2,1, Département : 21,80,40

-Name : 52.1B, 	Total : 141, mean_date : 0, 	Code Commune (3): 06004,21231,79191, nb_entreprises : 9,7,5, Département : 60,21,79

-Name : 00.97, 	Total : 1540, mean_date : 0, 	Code Commune (3): 06004,06027,06155, nb_entreprises : 482,189,120, Département : 60,60,61

-Name : 60.01, 	Total : 13, mean_date : 0, 	Code Commune (3): 4218.0,4218.0,4218.0, nb_entreprises : 1,1,1, Département : 42,42,42

-Name : 64.46, 	Total : 99, mean_date : 0, 	Code Commune (3): 21231,06027,80001.0, nb_entreprises : 9,8,4, Département : 21,60,80

-Name : 57.08, 	Total : 43, mean_date : 0, 	Code Commune (3): 21464,21231,06123, nb_entreprises : 7,3,2, Département : 21,21,61

-Name : 00.10, 	Total : 135, mean_date : 0, 	Code Commune (3): 21231,06004,44184.0, nb_entreprises : 12,10,8, Département : 21,60,44

-Name : 64.11, 	Total : 474, mean_date : 0, 	Code Commune (3): 21231,47001,06004, nb_entreprises : 47,43,41, Département : 21,47,60

-Name : 55.3A, 	Total : 182, mean_date : 0, 	Code Commune (3): 06004,21231,06155, nb_entreprises : 29,21,8, Département : 60,21,61

-Name : 69.22, 	Total : 12, mean_date : 0, 	Code Commune (3): 79101,4235.0,4235.0, nb_entreprises : 2,1,1, Département : 79,42,42

-Name : 52.1J, 	Total : 13, mean_date : 0, 	Code Commune (3): 06004,4039.0,4019.0, nb_entreprises : 3,2,1, Département : 60,40,40

-Name : 67.04, 	Total : 381, mean_date : 0, 	Code Commune (3): 44184.0,21231,47001, nb_entreprises : 41,26,23, Département : 44,21,47

-Name : 69.11, 	Total : 62, mean_date : 0, 	Code Commune (3): 44184.0,21485,4209.0, nb_entreprises : 4,2,1, Département : 44,21,42

-Name : 58.11, 	Total : 9, mean_date : 0, 	Code Commune (3): 21231,4070.0,4070.0, nb_entreprises : 2,1,1, Département : 21,40,40

-Name : 69.12, 	Total : 100, mean_date : 0, 	Code Commune (3): 21231,47032,47031, nb_entreprises : 7,5,4, Département : 21,47,47

-Name : 93.0D, 	Total : 164, mean_date : 0, 	Code Commune (3): 21231,47001,44184.0, nb_entreprises : 21,13,11, Département : 21,47,44

-Name : 59.08, 	Total : 39, mean_date : 0, 	Code Commune (3): 47001,79191,4143.0, nb_entreprises : 4,3,2, Département : 47,79,41

-Name : 62.44, 	Total : 107, mean_date : 0, 	Code Commune (3): 80228.0,06027,44184.0, nb_entreprises : 9,8,7, Département : 80,60,44

-Name : 60.2B, 	Total : 6, mean_date : 0, 	Code Commune (3): 06155,4166.0,4166.0, nb_entreprises : 2,1,1, Département : 61,41,41

-Name : 45.20A, 	Total : 62, mean_date : 0, 	Code Commune (3): 97611,06004,67482, nb_entreprises : 20,6,3, Département : 97,60,67

-Name : 47.78C, 	Total : 33, mean_date : 0, 	Code Commune (3): 97611,21231,97615, nb_entreprises : 18,3,2, Département : 97,21,97

-Name : 18.11, 	Total : 1, mean_date : 0, 	Code Commune (3): 13074.0,13074.0,13074.0, nb_entreprises : 1,1,1, Département : 13,13,13

-Name : 92.3H, 	Total : 7, mean_date : 0, 	Code Commune (3): 4070.0,4070.0,4070.0, nb_entreprises : 1,1,1, Département : 40,40,40

-Name : 56.30Z, 	Total : 40, mean_date : 0, 	Code Commune (3): 06004,4070.0,4070.0, nb_entreprises : 5,3,3, Département : 60,40,40

-Name : 55.40, 	Total : 88, mean_date : 0, 	Code Commune (3): 21231,79191,44132.0, nb_entreprises : 4,3,2, Département : 21,79,44

-Name : 67.08, 	Total : 314, mean_date : 0, 	Code Commune (3): 06004,06027,44055.0, nb_entreprises : 31,20,15, Département : 60,60,44

-Name : 86.06, 	Total : 75, mean_date : 0, 	Code Commune (3): 47001,06004,21231, nb_entreprises : 21,5,4, Département : 47,60,21

-Name : 64.14, 	Total : 37, mean_date : 0, 	Code Commune (3): 80001.0,21231,47201, nb_entreprises : 5,3,2, Département : 80,21,47

-Name : 58.03, 	Total : 5, mean_date : 0, 	Code Commune (3): 21231,44015.0,44015.0, nb_entreprises : 2,1,1, Département : 21,44,44

-Name : 40.32, 	Total : 4, mean_date : 0, 	Code Commune (3): 44184.0,44184.0,44184.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 55.72, 	Total : 128, mean_date : 0, 	Code Commune (3): 06004,80001.0,21231, nb_entreprises : 16,7,6, Département : 60,80,21

-Name : 85.1J, 	Total : 7, mean_date : 0, 	Code Commune (3): 44057.0,44057.0,44057.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 15.8C, 	Total : 187, mean_date : 0, 	Code Commune (3): 21231,39198,80001.0, nb_entreprises : 13,6,5, Département : 21,39,80

-Name : 52.4H, 	Total : 30, mean_date : 0, 	Code Commune (3): 21231,06004,44055.0, nb_entreprises : 7,3,2, Département : 21,60,44

-Name : 62.46, 	Total : 62, mean_date : 0, 	Code Commune (3): 21231,47001,44184.0, nb_entreprises : 7,4,3, Département : 21,47,44

-Name : 86.09, 	Total : 1, mean_date : 0, 	Code Commune (3): 44132.0,44132.0,44132.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 54.08, 	Total : 5, mean_date : 0, 	Code Commune (3): 21663,44030.0,44030.0, nb_entreprises : 2,1,1, Département : 21,44,44

-Name : 37.2Z, 	Total : 18, mean_date : 0, 	Code Commune (3): 39198,44132.0,44132.0, nb_entreprises : 2,1,1, Département : 39,44,44

-Name : 22.01, 	Total : 4, mean_date : 0, 	Code Commune (3): 44152.0,44152.0,44152.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 70.2A, 	Total : 168, mean_date : 0, 	Code Commune (3): 06004,21231,79191, nb_entreprises : 16,14,9, Département : 60,21,79

-Name : 52.2C, 	Total : 232, mean_date : 0, 	Code Commune (3): 21231,44184.0,06004, nb_entreprises : 17,13,10, Département : 21,44,60

-Name : 52.4Z, 	Total : 77, mean_date : 0, 	Code Commune (3): 21231,06155,44184.0, nb_entreprises : 8,7,6, Département : 21,61,44

-Name : 64.30, 	Total : 118, mean_date : 0, 	Code Commune (3): 21231,47001,79191, nb_entreprises : 15,11,6, Département : 21,47,79

-Name : 87.06, 	Total : 37, mean_date : 0, 	Code Commune (3): 44184.0,44055.0,44049.0, nb_entreprises : 4,3,2, Département : 44,44,44

-Name : 87.01, 	Total : 80, mean_date : 0, 	Code Commune (3): 06004,21231,47001, nb_entreprises : 18,7,6, Département : 60,21,47

-Name : 71.2A, 	Total : 5, mean_date : 0, 	Code Commune (3): 44109.0,44109.0,44109.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 45.1A, 	Total : 52, mean_date : 0, 	Code Commune (3): 21231,44184.0,44184.0, nb_entreprises : 5,3,3, Département : 21,44,44

-Name : 67.01, 	Total : 405, mean_date : 0, 	Code Commune (3): 06004,21231,44184.0, nb_entreprises : 44,25,21, Département : 60,21,44

-Name : 64.22, 	Total : 86, mean_date : 0, 	Code Commune (3): 47001,79191,44055.0, nb_entreprises : 6,5,4, Département : 47,79,44

-Name : 17.12Z, 	Total : 1, mean_date : 0, 	Code Commune (3): 44069.0,44069.0,44069.0, nb_entreprises : 1,1,1, Département : 44,44,44

-Name : 17.21B, 	Total : 2, mean_date : 0, 	Code Commune (3): 92025,51380.0,51380.0, nb_entreprises : 2,1,1, Département : 92,51,51

-Name : 57.02, 	Total : 92, mean_date : 0, 	Code Commune (3): 44158.0,80765.0,80765.0, nb_entreprises : 2,1,1, Département : 44,80,80

-Name : 82.06, 	Total : 7, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 2,2,2, Département : 80,80,80

-Name : 64.24, 	Total : 98, mean_date : 0, 	Code Commune (3): 21231,06004,44184.0, nb_entreprises : 17,6,5, Département : 21,60,44

-Name : 64.47, 	Total : 32, mean_date : 0, 	Code Commune (3): 06004,21231,21317, nb_entreprises : 6,5,2, Département : 60,21,21

-Name : 55.2C, 	Total : 10, mean_date : 0, 	Code Commune (3): 44184.0,80486.0,80486.0, nb_entreprises : 2,1,1, Département : 44,80,80

-Name : 64.49, 	Total : 112, mean_date : 0, 	Code Commune (3): 21231,47001,06004, nb_entreprises : 15,11,8, Département : 21,47,60

-Name : 56.02, 	Total : 39, mean_date : 0, 	Code Commune (3): 21231,80688.0,80688.0, nb_entreprises : 4,2,2, Département : 21,80,80

-Name : 78.02, 	Total : 53, mean_date : 0, 	Code Commune (3): 21231,79191,44184.0, nb_entreprises : 12,7,5, Département : 21,79,44

-Name : 60.2E, 	Total : 33, mean_date : 0, 	Code Commune (3): 44055.0,80001.0,80001.0, nb_entreprises : 2,1,1, Département : 44,80,80

-Name : 60.2L, 	Total : 48, mean_date : 0, 	Code Commune (3): 21390,80422.0,80422.0, nb_entreprises : 2,1,1, Département : 21,80,80

-Name : 21.11, 	Total : 11, mean_date : 0, 	Code Commune (3): 80235.0,80235.0,80235.0, nb_entreprises : 4,4,4, Département : 80,80,80

-Name : 92.7C, 	Total : 15, mean_date : 0, 	Code Commune (3): 80001.0,80649.0,80649.0, nb_entreprises : 3,1,1, Département : 80,80,80

-Name : 15.11, 	Total : 1, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 25.72Z, 	Total : 4, mean_date : 0, 	Code Commune (3): 80308.0,80308.0,80308.0, nb_entreprises : 2,2,2, Département : 80,80,80

-Name : 63.1E, 	Total : 15, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 3,3,3, Département : 80,80,80

-Name : 17.1P, 	Total : 1, mean_date : 0, 	Code Commune (3): 1143.0,1143.0,1143.0, nb_entreprises : 1,1,1, Département : 11,11,11

-Name : 17.21A, 	Total : 3, mean_date : 0, 	Code Commune (3): 80308.0,80308.0,80308.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 59.10, 	Total : 8, mean_date : 0, 	Code Commune (3): 79191,80308.0,80308.0, nb_entreprises : 2,1,1, Département : 79,80,80

-Name : 20.30Z, 	Total : 2, mean_date : 0, 	Code Commune (3): 80488.0,80488.0,80488.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 24.3Z, 	Total : 5, mean_date : 0, 	Code Commune (3): 49007,93055.0,93055.0, nb_entreprises : 2,1,1, Département : 49,93,93

-Name : 64.13, 	Total : 14, mean_date : 0, 	Code Commune (3): 47001,80001.0,80001.0, nb_entreprises : 2,1,1, Département : 47,80,80

-Name : 46.74B, 	Total : 2, mean_date : 0, 	Code Commune (3): 80235.0,80235.0,80235.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 65.2E, 	Total : 7, mean_date : 0, 	Code Commune (3): 75108.0,75108.0,75108.0, nb_entreprises : 2,2,2, Département : 75,75,75

-Name : 37.1Z, 	Total : 10, mean_date : 0, 	Code Commune (3): 80001.0,80001.0,80001.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 55.60, 	Total : 258, mean_date : 0, 	Code Commune (3): 06004,06027,44184.0, nb_entreprises : 29,15,11, Département : 60,60,44

-Name : 18.2D, 	Total : 4, mean_date : 0, 	Code Commune (3): 76462,80001.0,80001.0, nb_entreprises : 2,1,1, Département : 76,80,80

-Name : 59.02, 	Total : 2, mean_date : 0, 	Code Commune (3): 59512.0,59512.0,59512.0, nb_entreprises : 1,1,1, Département : 59,59,59

-Name : 57.09, 	Total : 6, mean_date : 0, 	Code Commune (3): 80688.0,80688.0,80688.0, nb_entreprises : 1,1,1, Département : 80,80,80

-Name : 47.02, 	Total : 10, mean_date : 0, 	Code Commune (3): 21231,4209.0,4209.0, nb_entreprises : 3,1,1, Département : 21,42,42

-Name : 64.44, 	Total : 25, mean_date : 0, 	Code Commune (3): 21231,4209.0,4070.0, nb_entreprises : 4,2,1, Département : 21,42,40

-Name : 47.73Z, 	Total : 22, mean_date : 0, 	Code Commune (3): 21231,79191,4070.0, nb_entreprises : 5,2,1, Département : 21,79,40

-Name : 00.98, 	Total : 106, mean_date : 0, 	Code Commune (3): 47001,47201,06027, nb_entreprises : 36,8,5, Département : 47,47,60

-Name : 39.01, 	Total : 22, mean_date : 0, 	Code Commune (3): 4108.0,4108.0,4108.0, nb_entreprises : 2,2,2, Département : 41,41,41

-Name : nan, 	Total : 0, mean_date : 0, 	Code Commune (3): 06004,22050,44055.0, nb_entreprises : 12,5,4, Département : 60,22,44

-Name : 55.1A, 	Total : 123, mean_date : 0, 	Code Commune (3): 4124.0,4124.0,4124.0, nb_entreprises : 1,1,1, Département : 41,41,41

-Name : 51.1T, 	Total : 6, mean_date : 0, 	Code Commune (3): 4166.0,4166.0,4166.0, nb_entreprises : 2,2,2, Département : 41,41,41

-Name : 01.2J, 	Total : 3, mean_date : 0, 	Code Commune (3): 44049.0,44132.0,4008.0, nb_entreprises : 5,2,1, Département : 44,44,40

-Name : 63.05, 	Total : 43, mean_date : 0, 	Code Commune (3): 06004,44055.0,21231, nb_entreprises : 20,8,6, Département : 60,44,21

-Name : 55.10Z, 	Total : 64, mean_date : 0, 	Code Commune (3): 06027,06004,79191, nb_entreprises : 5,3,2, Département : 60,60,79

-Name : 55.3B, 	Total : 18, mean_date : 0, 	Code Commune (3): 97611,97615,97607, nb_entreprises : 26,4,3, Département : 97,97,97

-Name : 56.10C, 	Total : 56, mean_date : 0, 	Code Commune (3): 06004,44055.0,44132.0, nb_entreprises : 4,3,2, Département : 60,44,44

-Name : 49.01, 	Total : 29, mean_date : 0, 	Code Commune (3): 21231,06004,79191, nb_entreprises : 38,27,14, Département : 21,60,79

-Name : 52.4C, 	Total : 223, mean_date : 0, 	Code Commune (3): 21464,4070.0,4070.0, nb_entreprises : 2,1,1, Département : 21,40,40

-Name : 51.1N, 	Total : 9, mean_date : 0, 	Code Commune (3): 4145.0,4145.0,4145.0, nb_entreprises : 1,1,1, Département : 41,41,41

-Name : 45.2C, 	Total : 2, mean_date : 0, 	Code Commune (3): 83050.0,4039.0,4039.0, nb_entreprises : 2,1,1, Département : 83,40,40

-Name : 45.2P, 	Total : 10, mean_date : 0, 	Code Commune (3): 97611,97608,97610, nb_entreprises : 83,37,26, Département : 97,97,97

-Name : 49.32Z, 	Total : 244, mean_date : 0, 	Code Commune (3): 4070.0,4070.0,4070.0, nb_entreprises : 1,1,1, Département : 40,40,40

-Name : 22.11Z, 	Total : 1, mean_date : 0, 	Code Commune (3): 21231,06004,44184.0, nb_entreprises : 23,15,13, Département : 21,60,44

-Name : 87.03, 	Total : 192, mean_date : 0, 	Code Commune (3): 47001,44055.0,44055.0, nb_entreprises : 2,1,1, Département : 47,44,44

-Name : 58.04, 	Total : 11, mean_date : 0, 	Code Commune (3): 06004,06027,44055.0, nb_entreprises : 20,13,8, Département : 60,60,44

-Name : 55.73, 	Total : 138, mean_date : 0, 	Code Commune (3): 06004,44055.0,44184.0, nb_entreprises : 3,2,1, Département : 60,44,44

-Name : 86.04, 	Total : 14, mean_date : 0, 	Code Commune (3): 06004,80001.0,44015.0, nb_entreprises : 4,2,1, Département : 60,80,44

-Name : 49.05, 	Total : 13, mean_date : 0, 	Code Commune (3): 44184.0,44184.0,44184.0, nb_entreprises : 6,6,6, Département : 44,44,44

-Name : 64.41, 	Total : 73, mean_date : 0, 	Code Commune (3): 44128.0,44067.0,44123.0, nb_entreprises : 3,2,1, Département : 44,44,44

-Name : 21.01, 	Total : 55, mean_date : 0, 	Code Commune (3): 44184.0,80228.0,44135.0, nb_entreprises : 8,6,3, Département : 44,80,44

-Name : 52.6D, 	Total : 81, mean_date : 0, 	Code Commune (3): 44055.0,44184.0,21231, nb_entreprises : 6,4,2, Département : 44,44,21

-Name : 69.23, 	Total : 42, mean_date : 0, 	Code Commune (3): 21231,44184.0,44049.0, nb_entreprises : 3,2,1, Département : 21,44,44

-Name : 66.01, 	Total : 34, mean_date : 0, 	Code Commune (3): 44184.0,44184.0,44184.0, nb_entreprises : 4,4,4, Département : 44,44,44


## Methode 2 : NAF, APE

## Class API Data.Gouv info Siret

In [12]:
class info_by_siret(object):
    
    def __init__(self,n_siret):
        self.n_siret = n_siret
    
    def connect(self):
        response = requests.get('https://entreprise.data.gouv.fr/api/sirene/v1/siret/'+self.n_siret)
        print("response code :",response.status_code)
        x = response.text
        x = json.loads(x)
        df = pd.read_json(json.dumps(x))
        df = np.transpose(df)
        self.df = df

In [13]:
c = info_by_siret('21310555400017')
c.connect()
c.df['tranche_effectif_salarie_entreprise_centaine_pret']

response code : 200

etablissement    12400
Name: tranche_effectif_salarie_entreprise_centaine_pret, dtype: object

### Convert dateCreationEtablissement to Datatime

In [14]:
df['dateCreationEtablissement'] = pd.to_datetime(df['dateCreationEtablissement'])

### Class NAF

In [15]:
from collections import Counter

class naf(object):
    
    def __init__(self):
        self.nb_row = df['activitePrincipaleEtablissement'].nunique()
        self.name_activite = df['activitePrincipaleEtablissement'].unique()
        self.result = []
        self.final_result = []
        
    def __print__(self,name,total,departement,nb_emp):
        print("-Name: %s, Nb_entreprises_total: %s, Departement: %s,-> Nb_inside: %s,employee: %s" %(name,total,departement[0],departement[1],nb_emp))
        print("--------------")
    
    def mean_date(self,data):
        total = 0
        index = 0
        for i in range(len(data)):
            try:
                total += data[i].year
                index += 1
            except:
                pass
        mean = int(total/index)
        print(mean)
        
        
    def split(self,n):
        c = []
        while n >= 1:
            c.append(int(n % 10))
            n = n / 10

        save = 0
        for i in range(int(len(c)/2)):
            save = c[i]
            c[i] = c[-i -1]
            c[-i-1] = save

        return c[0]*10 +c[1]
         
    def first_departement(self,data):
        data_split = []
        code_commune = []
        for val in data:
            data_split.append(self.split(val))
            code_commune.append(val)
        m = Counter(data_split).most_common(1)
        return m
    
    def func_result(self):
        passage = []
        for i in range(len(self.result)):
            if self.result[i][2] not in passage:
                save = self.result[i]
                for j in range(i,len(self.result)):
                    if save[2] == self.result[j][2]:
                        save = save[0]+", "+ self.result[j][0] , save[1]+self.result[j][1],save[2],save[3]+self.result[j][3],save[4]+ self.result[j][4]

                
                self.final_result.append(save)
                passage.append(self.result[i][2])
     
    
    def nb_employee(self,data,departement):
        self.total_employee = 0
        siret = 0
        #print(len(data))
        for val,val2 in zip(data['codeCommuneEtablissement'],data['siret']):
            try:
                
                code_departement = self.split(val)
                if code_departement == departement[0]:
                    response = requests.get('https://entreprise.data.gouv.fr/api/sirene/v1/siret/21310555400017')#+val2)
                    x = response.text
                    x = json.loads(x)
                    df = pd.read_json(json.dumps(x))
                    df = np.transpose(df)
                    self.df = df
                    self.total_employee += int(self.df['tranche_effectif_salarie_entreprise_centaine_pret'][0])
            except:
                pass

    def main(self):
        tot = 0
        for value in self.name_activite:
                
                total = len(df[df['activitePrincipaleEtablissement'] == value].groupby('siren').first())
                
            
                #if df[df['activitePrincipaleEtablissement'] == value]['codeCommuneEtablissement']
                try:
                    departement = self.first_departement(df[df['activitePrincipaleEtablissement'] == value]['codeCommuneEtablissement'])
                    departement = departement[0]
                    
                    self.nb_employee(df[df['activitePrincipaleEtablissement'] == value][['codeCommuneEtablissement','siret']],departement)
                    final = (value,total,departement[0],departement[1],self.total_employee)
                    
                    self.result.append(final)
                    print(final)
                    self.__print__(value,total,departement,self.total_employee)
                    
                    
                except:
                    pass
        self.func_result()

### Use class NAF
format : (Activité', Nb_entreprise, Département, Nb_inside, Nb_employees)

In [16]:
c = naf()
c.main()

('32.12Z', 1, 13, 3, 37200)
-Name: 32.12Z, Nb_entreprises_total: 1, Departement: 13,-> Nb_inside: 3,employee: 37200
--------------
('47.89Z', 1, 84, 1, 12400)
-Name: 47.89Z, Nb_entreprises_total: 1, Departement: 84,-> Nb_inside: 1,employee: 12400
--------------
('95.24Z', 1, 54, 1, 12400)
-Name: 95.24Z, Nb_entreprises_total: 1, Departement: 54,-> Nb_inside: 1,employee: 12400
--------------
('85.59A', 1, 26, 1, 12400)
-Name: 85.59A, Nb_entreprises_total: 1, Departement: 26,-> Nb_inside: 1,employee: 12400
--------------
('22.02', 7, 80, 6, 74400)
-Name: 22.02, Nb_entreprises_total: 7, Departement: 80,-> Nb_inside: 6,employee: 74400
--------------
('79.06', 4, 44, 2, 24800)
-Name: 79.06, Nb_entreprises_total: 4, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('64.42', 10, 80, 7, 86800)
-Name: 64.42, Nb_entreprises_total: 10, Departement: 80,-> Nb_inside: 7,employee: 86800
--------------
('70.2C', 47, 44, 26, 322400)
-Name: 70.2C, Nb_entreprises_total: 47, Departement: 44,-> Nb_inside: 26,employee: 322400
--------------
('57.11', 2, 80, 1, 12400)
-Name: 57.11, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('86.06', 4, 80, 2, 24800)
-Name: 86.06, Nb_entreprises_total: 4, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('55.4B', 12, 80, 4, 49600)
-Name: 55.4B, Nb_entreprises_total: 12, Departement: 80,-> Nb_inside: 4,employee: 49600
--------------
('62.11', 37, 44, 20, 248000)
-Name: 62.11, Nb_entreprises_total: 37, Departement: 44,-> Nb_inside: 20,employee: 248000
--------------
('67.05', 13, 80, 10, 124000)
-Name: 67.05, Nb_entreprises_total: 13, Departement: 80,-> Nb_inside: 10,employee: 124000
--------------
('64.45', 5, 80, 2, 24800)
-Name: 64.45, Nb_entreprises_total: 5, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('62.43', 23, 44, 16, 198400)
-Name: 62.43, Nb_entreprises_total: 23, Departement: 44,-> Nb_inside: 16,employee: 198400
--------------
('65.06', 8, 80, 3, 37200)
-Name: 65.06, Nb_entreprises_total: 8, Departement: 80,-> Nb_inside: 3,employee: 37200
--------------
('57.03', 2, 80, 2, 24800)
-Name: 57.03, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('38.40', 17, 80, 6, 74400)
-Name: 38.40, Nb_entreprises_total: 17, Departement: 80,-> Nb_inside: 6,employee: 74400
--------------
('74.1J', 9, 80, 4, 49600)
-Name: 74.1J, Nb_entreprises_total: 9, Departement: 80,-> Nb_inside: 4,employee: 49600
--------------
('64.11', 36, 44, 25, 310000)
-Name: 64.11, Nb_entreprises_total: 36, Departement: 44,-> Nb_inside: 25,employee: 310000
--------------
('67.07', 9, 80, 6, 74400)
-Name: 67.07, Nb_entreprises_total: 9, Departement: 80,-> Nb_inside: 6,employee: 74400
--------------
('65.03', 5, 80, 2, 24800)
-Name: 65.03, Nb_entreprises_total: 5, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('55.40', 10, 44, 5, 62000)
-Name: 55.40, Nb_entreprises_total: 10, Departement: 44,-> Nb_inside: 5,employee: 62000
--------------
('50.1Z', 2, 80, 1, 12400)
-Name: 50.1Z, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('65.02', 3, 80, 2, 24800)
-Name: 65.02, Nb_entreprises_total: 3, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('62.41', 4, 44, 2, 24800)
-Name: 62.41, Nb_entreprises_total: 4, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('68.20B', 38, 40, 13, 161200)
-Name: 68.20B, Nb_entreprises_total: 38, Departement: 40,-> Nb_inside: 13,employee: 161200
--------------
('38.50', 5, 40, 2, 24800)
-Name: 38.50, Nb_entreprises_total: 5, Departement: 40,-> Nb_inside: 2,employee: 24800
--------------
('67.04', 31, 44, 24, 297600)
-Name: 67.04, Nb_entreprises_total: 31, Departement: 44,-> Nb_inside: 24,employee: 297600
--------------
('62.21', 1, 80, 1, 12400)
-Name: 62.21, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.69B', 2, 80, 5, 62000)
-Name: 46.69B, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 5,employee: 62000
--------------
('59.02', 2, 80, 1, 12400)
-Name: 59.02, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('45.3F', 1, 80, 1, 12400)
-Name: 45.3F, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('52.4Y', 2, 80, 2, 24800)
-Name: 52.4Y, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('28.6F', 2, 80, 2, 24800)
-Name: 28.6F, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('52.4N', 2, 80, 1, 12400)
-Name: 52.4N, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('47.71Z', 3, 40, 2, 24800)
-Name: 47.71Z, Nb_entreprises_total: 3, Departement: 40,-> Nb_inside: 2,employee: 24800
--------------
('10.81Z', 1, 80, 1, 12400)
-Name: 10.81Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('52.10B', 1, 62, 1, 12400)
-Name: 52.10B, Nb_entreprises_total: 1, Departement: 62,-> Nb_inside: 1,employee: 12400
--------------
('70.10Z', 3, 62, 1, 12400)
-Name: 70.10Z, Nb_entreprises_total: 3, Departement: 62,-> Nb_inside: 1,employee: 12400
--------------
('46.75Z', 1, 62, 1, 12400)
-Name: 46.75Z, Nb_entreprises_total: 1, Departement: 62,-> Nb_inside: 1,employee: 12400
--------------
('64.12', 8, 44, 5, 62000)
-Name: 64.12, Nb_entreprises_total: 8, Departement: 44,-> Nb_inside: 5,employee: 62000
--------------
('58.12', 1, 80, 1, 12400)
-Name: 58.12, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('51.2A', 2, 80, 2, 24800)
-Name: 51.2A, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('81.21', 66, 44, 33, 409200)
-Name: 81.21, Nb_entreprises_total: 66, Departement: 44,-> Nb_inside: 33,employee: 409200
--------------
('20.01', 1, 80, 1, 12400)
-Name: 20.01, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('44.33', 2, 80, 2, 24800)
-Name: 44.33, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('52.4T', 1, 40, 1, 12400)
-Name: 52.4T, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('67.09', 2, 41, 1, 12400)
-Name: 67.09, Nb_entreprises_total: 2, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('52.1B', 10, 40, 3, 37200)
-Name: 52.1B, Nb_entreprises_total: 10, Departement: 40,-> Nb_inside: 3,employee: 37200
--------------
('00.97', 55, 40, 22, 272800)
-Name: 00.97, Nb_entreprises_total: 55, Departement: 40,-> Nb_inside: 22,employee: 272800
--------------
('60.01', 1, 42, 1, 12400)
-Name: 60.01, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('64.46', 6, 44, 2, 24800)
-Name: 64.46, Nb_entreprises_total: 6, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('57.08', 2, 40, 1, 12400)
-Name: 57.08, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('00.10', 7, 44, 3, 37200)
-Name: 00.10, Nb_entreprises_total: 7, Departement: 44,-> Nb_inside: 3,employee: 37200
--------------
('60.07', 1, 41, 1, 12400)
-Name: 60.07, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('55.3A', 6, 41, 2, 24800)
-Name: 55.3A, Nb_entreprises_total: 6, Departement: 41,-> Nb_inside: 2,employee: 24800
--------------
('69.22', 3, 42, 2, 24800)
-Name: 69.22, Nb_entreprises_total: 3, Departement: 42,-> Nb_inside: 2,employee: 24800
--------------
('01.80', 5, 41, 1, 12400)
-Name: 01.80, Nb_entreprises_total: 5, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('52.1J', 2, 40, 1, 12400)
-Name: 52.1J, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('69.11', 4, 42, 1, 12400)
-Name: 69.11, Nb_entreprises_total: 4, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('58.11', 1, 40, 1, 12400)
-Name: 58.11, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('69.12', 3, 44, 2, 24800)
-Name: 69.12, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------

('93.0D', 1, 42, 1, 12400)
-Name: 93.0D, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('64.49', 12, 80, 7, 86800)
-Name: 64.49, Nb_entreprises_total: 12, Departement: 80,-> Nb_inside: 7,employee: 86800
--------------
('59.08', 3, 41, 2, 24800)
-Name: 59.08, Nb_entreprises_total: 3, Departement: 41,-> Nb_inside: 2,employee: 24800
--------------
('62.44', 10, 80, 6, 74400)
-Name: 62.44, Nb_entreprises_total: 10, Departement: 80,-> Nb_inside: 6,employee: 74400
--------------
('60.2B', 2, 41, 1, 12400)
-Name: 60.2B, Nb_entreprises_total: 2, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('45.20A', 2, 80, 2, 24800)
-Name: 45.20A, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('47.78C', 1, 40, 1, 12400)
-Name: 47.78C, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('18.11', 1, 13, 1, 12400)
-Name: 18.11, Nb_entreprises_total: 1, Departement: 13,-> Nb_inside: 1,employee: 12400
--------------
('92.3H', 1, 40, 1, 12400)
-Name: 92.3H, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('56.30Z', 2, 40, 1, 12400)
-Name: 56.30Z, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('67.08', 22, 44, 12, 148800)
-Name: 67.08, Nb_entreprises_total: 22, Departement: 44,-> Nb_inside: 12,employee: 148800
--------------
('64.14', 1, 44, 1, 12400)
-Name: 64.14, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('58.03', 1, 44, 1, 12400)
-Name: 58.03, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('40.32', 2, 44, 2, 24800)
-Name: 40.32, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('55.72', 6, 44, 4, 49600)
-Name: 55.72, Nb_entreprises_total: 6, Departement: 44,-> Nb_inside: 4,employee: 49600
--------------
('85.1J', 1, 44, 1, 12400)
-Name: 85.1J, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('15.8C', 2, 44, 1, 12400)
-Name: 15.8C, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('52.4H', 2, 44, 1, 12400)
-Name: 52.4H, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('62.46', 1, 44, 1, 12400)
-Name: 62.46, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('86.09', 1, 44, 1, 12400)
-Name: 86.09, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('54.08', 1, 44, 1, 12400)
-Name: 54.08, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('37.2Z', 1, 44, 1, 12400)
-Name: 37.2Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('22.01', 1, 44, 1, 12400)
-Name: 22.01, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('55.71', 7, 44, 6, 74400)
-Name: 55.71, Nb_entreprises_total: 7, Departement: 44,-> Nb_inside: 6,employee: 74400
--------------
('70.2A', 6, 40, 3, 37200)
-Name: 70.2A, Nb_entreprises_total: 6, Departement: 40,-> Nb_inside: 3,employee: 37200
--------------
('52.2C', 4, 44, 3, 37200)
-Name: 52.2C, Nb_entreprises_total: 4, Departement: 44,-> Nb_inside: 3,employee: 37200
--------------
('52.4Z', 1, 44, 1, 12400)
-Name: 52.4Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('57.07', 2, 44, 1, 12400)
-Name: 57.07, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('64.30', 6, 44, 3, 37200)
-Name: 64.30, Nb_entreprises_total: 6, Departement: 44,-> Nb_inside: 3,employee: 37200
--------------
('35.01', 1, 44, 1, 12400)
-Name: 35.01, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('87.06', 7, 44, 7, 86800)
-Name: 87.06, Nb_entreprises_total: 7, Departement: 44,-> Nb_inside: 7,employee: 86800
--------------
('87.01', 2, 44, 1, 12400)
-Name: 87.01, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('71.2A', 1, 44, 1, 12400)
-Name: 71.2A, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('45.1A', 2, 44, 1, 12400)
-Name: 45.1A, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('67.01', 11, 44, 4, 49600)
-Name: 67.01, Nb_entreprises_total: 11, Departement: 44,-> Nb_inside: 4,employee: 49600
--------------
('64.22', 10, 44, 7, 86800)
-Name: 64.22, Nb_entreprises_total: 10, Departement: 44,-> Nb_inside: 7,employee: 86800
--------------
('86.04', 3, 44, 3, 37200)
-Name: 86.04, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 3,employee: 37200
--------------
('17.12Z', 1, 44, 1, 12400)
-Name: 17.12Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('17.21B', 1, 51, 1, 12400)
-Name: 17.21B, Nb_entreprises_total: 1, Departement: 51,-> Nb_inside: 1,employee: 12400
--------------
('57.02', 2, 80, 1, 12400)
-Name: 57.02, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('82.06', 1, 80, 1, 12400)
-Name: 82.06, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('64.24', 6, 80, 4, 49600)
-Name: 64.24, Nb_entreprises_total: 6, Departement: 80,-> Nb_inside: 4,employee: 49600
--------------
('64.47', 1, 80, 1, 12400)
-Name: 64.47, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('55.2C', 1, 80, 1, 12400)
-Name: 55.2C, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('56.02', 2, 80, 2, 24800)
-Name: 56.02, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('78.02', 1, 80, 1, 12400)
-Name: 78.02, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('60.2E', 2, 80, 2, 24800)
-Name: 60.2E, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('87.03', 8, 44, 6, 74400)
-Name: 87.03, Nb_entreprises_total: 8, Departement: 44,-> Nb_inside: 6,employee: 74400
--------------
('60.2L', 1, 80, 1, 12400)
-Name: 60.2L, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('21.11', 2, 80, 2, 24800)
-Name: 21.11, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('92.7C', 1, 80, 1, 12400)
-Name: 92.7C, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('15.11', 1, 80, 1, 12400)
-Name: 15.11, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('25.72Z', 2, 80, 2, 24800)
-Name: 25.72Z, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('63.1E', 2, 80, 5, 62000)
-Name: 63.1E, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 5,employee: 62000
--------------
('17.1P', 1, 11, 1, 12400)
-Name: 17.1P, Nb_entreprises_total: 1, Departement: 11,-> Nb_inside: 1,employee: 12400
--------------
('17.21A', 1, 80, 2, 24800)
-Name: 17.21A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('59.10', 1, 80, 1, 12400)
-Name: 59.10, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('20.30Z', 1, 80, 1, 12400)
-Name: 20.30Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('24.3Z', 1, 93, 1, 12400)
-Name: 24.3Z, Nb_entreprises_total: 1, Departement: 93,-> Nb_inside: 1,employee: 12400
--------------
('64.13', 1, 80, 1, 12400)
-Name: 64.13, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.74B', 1, 80, 1, 12400)
-Name: 46.74B, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('65.2E', 1, 75, 2, 24800)
-Name: 65.2E, Nb_entreprises_total: 1, Departement: 75,-> Nb_inside: 2,employee: 24800
--------------
('37.1Z', 1, 80, 1, 12400)
-Name: 37.1Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('55.60', 14, 80, 7, 86800)
-Name: 55.60, Nb_entreprises_total: 14, Departement: 80,-> Nb_inside: 7,employee: 86800
--------------

('18.2D', 1, 80, 1, 12400)
-Name: 18.2D, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('57.09', 2, 80, 1, 12400)
-Name: 57.09, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('47.02', 1, 42, 1, 12400)
-Name: 47.02, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('64.44', 2, 40, 1, 12400)
-Name: 64.44, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('47.73Z', 2, 40, 1, 12400)
-Name: 47.73Z, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('00.98', 3, 41, 1, 12400)
-Name: 00.98, Nb_entreprises_total: 3, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('39.01', 1, 41, 1, 12400)
-Name: 39.01, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('55.1A', 4, 41, 3, 37200)
-Name: 55.1A, Nb_entreprises_total: 4, Departement: 41,-> Nb_inside: 3,employee: 37200
--------------
('54.07', 1, 40, 1, 12400)
-Name: 54.07, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('48.01', 2, 41, 1, 12400)
-Name: 48.01, Nb_entreprises_total: 2, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('51.1T', 1, 41, 1, 12400)
-Name: 51.1T, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('01.2J', 1, 41, 1, 12400)
-Name: 01.2J, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('63.05', 3, 40, 1, 12400)
-Name: 63.05, Nb_entreprises_total: 3, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('55.10Z', 3, 44, 2, 24800)
-Name: 55.10Z, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('55.3B', 1, 40, 1, 12400)
-Name: 55.3B, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('56.10C', 1, 40, 1, 12400)
-Name: 56.10C, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('49.01', 1, 40, 1, 12400)
-Name: 49.01, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('52.4C', 9, 40, 4, 49600)
-Name: 52.4C, Nb_entreprises_total: 9, Departement: 40,-> Nb_inside: 4,employee: 49600
--------------
('51.1N', 1, 40, 1, 12400)
-Name: 51.1N, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('45.2C', 1, 41, 1, 12400)
-Name: 45.2C, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('45.2P', 1, 40, 1, 12400)
-Name: 45.2P, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('49.32Z', 1, 42, 1, 12400)
-Name: 49.32Z, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('22.11Z', 1, 40, 1, 12400)
-Name: 22.11Z, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('58.04', 1, 44, 1, 12400)
-Name: 58.04, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('55.73', 7, 44, 7, 86800)
-Name: 55.73, Nb_entreprises_total: 7, Departement: 44,-> Nb_inside: 7,employee: 86800
--------------
('49.05', 1, 44, 1, 12400)
-Name: 49.05, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('64.41', 3, 44, 2, 24800)
-Name: 64.41, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('21.01', 2, 44, 2, 24800)
-Name: 21.01, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('52.6D', 3, 44, 2, 24800)
-Name: 52.6D, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('69.23', 2, 44, 1, 12400)
-Name: 69.23, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('66.01', 2, 44, 2, 24800)
-Name: 66.01, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('15.09', 2, 44, 2, 24800)
-Name: 15.09, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('64.23', 3, 44, 3, 37200)
-Name: 64.23, Nb_entreprises_total: 3, Departement: 44,-> Nb_inside: 3,employee: 37200
--------------
('74.1C', 1, 44, 1, 12400)
-Name: 74.1C, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('70.3A', 1, 44, 1, 12400)
-Name: 70.3A, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('66.03', 1, 44, 1, 12400)
-Name: 66.03, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('60.10', 1, 44, 1, 12400)
-Name: 60.10, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('50.5Z', 1, 44, 1, 12400)
-Name: 50.5Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('57.06', 1, 44, 1, 12400)
-Name: 57.06, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('52.4J', 1, 44, 1, 12400)
-Name: 52.4J, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('81.11', 2, 44, 1, 12400)
-Name: 81.11, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('68.20A', 4, 44, 2, 24800)
-Name: 68.20A, Nb_entreprises_total: 4, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('33.15Z', 1, 75, 1, 12400)
-Name: 33.15Z, Nb_entreprises_total: 1, Departement: 75,-> Nb_inside: 1,employee: 12400
--------------
('64.21', 2, 44, 1, 12400)
-Name: 64.21, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('63.3Z', 1, 44, 1, 12400)
-Name: 63.3Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('97.12', 1, 44, 1, 12400)
-Name: 97.12, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('74.90A', 1, 44, 2, 24800)
-Name: 74.90A, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('70.22Z', 1, 44, 1, 12400)
-Name: 70.22Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('52.10A', 1, 44, 1, 12400)
-Name: 52.10A, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('63.1D', 1, 75, 1, 12400)
-Name: 63.1D, Nb_entreprises_total: 1, Departement: 75,-> Nb_inside: 1,employee: 12400
--------------
('25.03', 1, 44, 1, 12400)
-Name: 25.03, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('58.14Z', 1, 44, 2, 24800)
-Name: 58.14Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('52.6E', 3, 80, 2, 24800)
-Name: 52.6E, Nb_entreprises_total: 3, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('47.08', 1, 80, 1, 12400)
-Name: 47.08, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('01.42Z', 1, 80, 1, 12400)
-Name: 01.42Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('64.43', 1, 80, 1, 12400)
-Name: 64.43, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('64.25', 1, 80, 1, 12400)
-Name: 64.25, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.73A', 1, 80, 1, 12400)
-Name: 46.73A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('28.14Z', 1, 80, 1, 12400)
-Name: 28.14Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('45.2V', 1, 80, 1, 12400)
-Name: 45.2V, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.69C', 1, 80, 1, 12400)
-Name: 46.69C, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('10.61A', 1, 80, 1, 12400)
-Name: 10.61A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('49.39A', 1, 80, 3, 37200)
-Name: 49.39A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 3,employee: 37200
--------------
('21.12', 1, 80, 1, 12400)
-Name: 21.12, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------

('28.5C', 1, 80, 1, 12400)
-Name: 28.5C, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('51.8P', 1, 80, 2, 24800)
-Name: 51.8P, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('46.61Z', 1, 80, 2, 24800)
-Name: 46.61Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('51.6N', 1, 80, 1, 12400)
-Name: 51.6N, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('58.09', 2, 40, 1, 12400)
-Name: 58.09, Nb_entreprises_total: 2, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('93.19Z', 1, 40, 1, 12400)
-Name: 93.19Z, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('52.4E', 2, 42, 1, 12400)
-Name: 52.4E, Nb_entreprises_total: 2, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------
('15.01', 1, 41, 1, 12400)
-Name: 15.01, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('68.31Z', 1, 40, 1, 12400)
-Name: 68.31Z, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('10.13A', 1, 40, 2, 24800)
-Name: 10.13A, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 2,employee: 24800
--------------
('47.59A', 1, 41, 1, 12400)
-Name: 47.59A, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('45.2B', 1, 40, 1, 12400)
-Name: 45.2B, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('10.11Z', 1, 42, 3, 37200)
-Name: 10.11Z, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 3,employee: 37200
--------------
('47.22Z', 1, 50, 1, 12400)
-Name: 47.22Z, Nb_entreprises_total: 1, Departement: 50,-> Nb_inside: 1,employee: 12400
--------------
('52.4F', 1, 44, 1, 12400)
-Name: 52.4F, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('55.10', 1, 44, 1, 12400)
-Name: 55.10, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('01.43Z', 1, 44, 1, 12400)
-Name: 01.43Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('47.04', 1, 44, 1, 12400)
-Name: 47.04, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('74.8B', 1, 44, 1, 12400)
-Name: 74.8B, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('67.2Z', 1, 44, 1, 12400)
-Name: 67.2Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('77.01', 1, 44, 1, 12400)
-Name: 77.01, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('96.02A', 1, 44, 1, 12400)
-Name: 96.02A, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('67.03', 1, 44, 1, 12400)
-Name: 67.03, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('52.4V', 2, 44, 2, 24800)
-Name: 52.4V, Nb_entreprises_total: 2, Departement: 44,-> Nb_inside: 2,employee: 24800
--------------
('22.22Z', 1, 44, 1, 12400)
-Name: 22.22Z, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('28.5D', 1, 44, 1, 12400)
-Name: 28.5D, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('32.04', 1, 44, 1, 12400)
-Name: 32.04, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('70.1C', 1, 44, 1, 12400)
-Name: 70.1C, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('59.07', 1, 44, 1, 12400)
-Name: 59.07, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('59.09', 1, 44, 1, 12400)
-Name: 59.09, Nb_entreprises_total: 1, Departement: 44,-> Nb_inside: 1,employee: 12400
--------------
('57.01', 2, 80, 2, 24800)
-Name: 57.01, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('66.04', 1, 80, 1, 12400)
-Name: 66.04, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('45.23', 1, 80, 1, 12400)
-Name: 45.23, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('55.4A', 1, 80, 1, 12400)
-Name: 55.4A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('01.4A', 1, 80, 1, 12400)
-Name: 01.4A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('52.4R', 1, 80, 1, 12400)
-Name: 52.4R, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('15.7A', 1, 80, 1, 12400)
-Name: 15.7A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('57.05', 1, 80, 1, 12400)
-Name: 57.05, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('08.11Z', 1, 80, 1, 12400)
-Name: 08.11Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('86.10Z', 1, 80, 1, 12400)
-Name: 86.10Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('20.5A', 1, 80, 1, 12400)
-Name: 20.5A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('16.23Z', 1, 80, 1, 12400)
-Name: 16.23Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('20.3Z', 1, 80, 1, 12400)
-Name: 20.3Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('67.06', 1, 80, 1, 12400)
-Name: 67.06, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('67.12', 1, 80, 1, 12400)
-Name: 67.12, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('68.32A', 1, 80, 3, 37200)
-Name: 68.32A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 3,employee: 37200
--------------
('47.61Z', 1, 30, 1, 12400)
-Name: 47.61Z, Nb_entreprises_total: 1, Departement: 30,-> Nb_inside: 1,employee: 12400
--------------
('28.7L', 1, 80, 1, 12400)
-Name: 28.7L, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('25.99A', 2, 80, 5, 62000)
-Name: 25.99A, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 5,employee: 62000
--------------
('29.5N', 1, 80, 1, 12400)
-Name: 29.5N, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('25.73A', 1, 80, 1, 12400)
-Name: 25.73A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('49.41A', 1, 80, 2, 24800)
-Name: 49.41A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('41.10A', 1, 80, 1, 12400)
-Name: 41.10A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('47.52A', 1, 80, 1, 12400)
-Name: 47.52A, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.74A', 2, 80, 2, 24800)
-Name: 46.74A, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('10.91Z', 1, 80, 1, 12400)
-Name: 10.91Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('46.19B', 1, 13, 1, 12400)
-Name: 46.19B, Nb_entreprises_total: 1, Departement: 13,-> Nb_inside: 1,employee: 12400
--------------
('16.21Z', 1, 80, 1, 12400)
-Name: 16.21Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('25.61Z', 1, 80, 1, 12400)
-Name: 25.61Z, Nb_entreprises_total: 1, Departement: 80,-> Nb_inside: 1,employee: 12400
--------------
('88.02', 2, 80, 2, 24800)
-Name: 88.02, Nb_entreprises_total: 2, Departement: 80,-> Nb_inside: 2,employee: 24800
--------------
('84.03', 1, 40, 1, 12400)
-Name: 84.03, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('55.70', 1, 41, 1, 12400)
-Name: 55.70, Nb_entreprises_total: 1, Departement: 41,-> Nb_inside: 1,employee: 12400
--------------
('24.5C', 1, 40, 1, 12400)
-Name: 24.5C, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('15.8P', 1, 40, 1, 12400)
-Name: 15.8P, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------

('14.1A', 1, 40, 1, 12400)
-Name: 14.1A, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('57.04', 1, 40, 1, 12400)
-Name: 57.04, Nb_entreprises_total: 1, Departement: 40,-> Nb_inside: 1,employee: 12400
--------------
('01.11Z', 1, 42, 1, 12400)
-Name: 01.11Z, Nb_entreprises_total: 1, Departement: 42,-> Nb_inside: 1,employee: 12400
--------------

### Final Result, secteurs d'activitées regroupé par département
format : ('Activité', Nb_entreprise, Département, Nb_inside, Nb_employees)

In [17]:
c.final_result

[('32.12Z, 32.12Z, 18.11, 46.19B', 4, 13, 8, 99200),
 ('47.89Z, 47.89Z', 2, 84, 2, 24800),
 ('95.24Z, 95.24Z', 2, 54, 2, 24800),
 ('85.59A, 85.59A', 2, 26, 2, 24800),
 ('22.02, 22.02, 64.42, 57.11, 86.06, 55.4B, 67.05, 64.45, 65.06, 57.03, 38.40, 74.1J, 67.07, 65.03, 50.1Z, 65.02, 62.21, 46.69B, 59.02, 45.3F, 52.4Y, 28.6F, 52.4N, 10.81Z, 58.12, 51.2A, 20.01, 44.33, 64.49, 62.44, 45.20A, 57.02, 82.06, 64.24, 64.47, 55.2C, 56.02, 78.02, 60.2E, 60.2L, 21.11, 92.7C, 15.11, 25.72Z, 63.1E, 17.21A, 59.10, 20.30Z, 64.13, 46.74B, 37.1Z, 55.60, 18.2D, 57.09, 52.6E, 47.08, 01.42Z, 64.43, 64.25, 46.73A, 28.14Z, 45.2V, 46.69C, 10.61A, 49.39A, 21.12, 28.5C, 51.8P, 46.61Z, 51.6N, 57.01, 66.04, 45.23, 55.4A, 01.4A, 52.4R, 15.7A, 57.05, 08.11Z, 86.10Z, 20.5A, 16.23Z, 20.3Z, 67.06, 67.12, 68.32A, 28.7L, 25.99A, 29.5N, 25.73A, 49.41A, 41.10A, 47.52A, 46.74A, 10.91Z, 16.21Z, 25.61Z, 88.02',
  256,
  80,
  199,
  2467600),
 ('79.06, 79.06, 70.2C, 62.11, 62.43, 64.11, 55.40, 62.41, 67.04, 64.12, 81.21, 64.46, 00.10, 69.12, 67.08, 64.14, 58.03, 40.32, 55.72, 85.1J, 15.8C, 52.4H, 62.46, 86.09, 54.08, 37.2Z, 22.01, 55.71, 52.2C, 52.4Z, 57.07, 64.30, 35.01, 87.06, 87.01, 71.2A, 45.1A, 67.01, 64.22, 86.04, 17.12Z, 87.03, 55.10Z, 58.04, 55.73, 49.05, 64.41, 21.01, 52.6D, 69.23, 66.01, 15.09, 64.23, 74.1C, 70.3A, 66.03, 60.10, 50.5Z, 57.06, 52.4J, 81.11, 68.20A, 64.21, 63.3Z, 97.12, 74.90A, 70.22Z, 52.10A, 25.03, 58.14Z, 52.4F, 55.10, 01.43Z, 47.04, 74.8B, 67.2Z, 77.01, 96.02A, 67.03, 52.4V, 22.22Z, 28.5D, 32.04, 70.1C, 59.07, 59.09',
  462,
  44,
  303,
  3757200),
 ('68.20B, 68.20B, 38.50, 47.71Z, 52.4T, 52.1B, 00.97, 57.08, 52.1J, 58.11, 47.78C, 92.3H, 56.30Z, 70.2A, 64.44, 47.73Z, 54.07, 63.05, 55.3B, 56.10C, 49.01, 52.4C, 51.1N, 45.2P, 22.11Z, 58.09, 93.19Z, 68.31Z, 10.13A, 45.2B, 84.03, 24.5C, 15.8P, 14.1A, 57.04',
  199,
  40,
  90,
  1116000),
 ('52.10B, 52.10B, 70.10Z, 46.75Z', 6, 62, 4, 49600),
 ('67.09, 67.09, 60.07, 55.3A, 01.80, 59.08, 60.2B, 00.98, 39.01, 55.1A, 48.01, 51.1T, 01.2J, 45.2C, 15.01, 47.59A, 55.70',
  37,
  41,
  21,
  260400),
 ('60.01, 60.01, 69.22, 69.11, 93.0D, 47.02, 49.32Z, 52.4E, 10.11Z, 01.11Z',
  16,
  42,
  13,
  161200),
 ('17.21B, 17.21B', 2, 51, 2, 24800),
 ('17.1P, 17.1P', 2, 11, 2, 24800),
 ('24.3Z, 24.3Z', 2, 93, 2, 24800),
 ('65.2E, 65.2E, 33.15Z, 63.1D', 4, 75, 6, 74400),
 ('47.22Z, 47.22Z', 2, 50, 2, 24800),
 ('47.61Z, 47.61Z', 2, 30, 2, 24800)]

# French map : Use Librairie PYGAL

### Custom Style from map

In [18]:
custom_style = Style(
  background='transparent',
  transition='200ms ease-in',
)

### Function which draws chart

In [19]:
def chart():
    fr_chart = pygal.maps.fr.Departments(style=custom_style,height=450)    #,legend_at_bottom=True)
    fr_chart.title = 'Activitie by departments'
    for i in range(len(c.final_result)):
        try:    
            fr_chart.add(c.final_result[i][0], {c.final_result[i][2] : c.final_result[i][3]})    
        except:
            pass
    fr_chart.render_in_browser() # Exporte to Browser

In [20]:
chart()

file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpgvk2hnx7.html