### Include Librairies

In [120]:
import pandas as pd
import seaborn as sns
import numpy as np
import math
from datetime import *
import pygal             # Usefull for french map
from pygal.style import Style
import matplotlib.pyplot as plt
%matplotlib inline

### Import Data

In [121]:
df = pd.read_csv('data.csv')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7,17,19,25,26,27,29,32,42,48,49,50,52,54,55,57,72,73,74,75) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [122]:
df.tail(5)

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,dateFin,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
99995,43835446,14,4383544600014,O,1995-12-25,01,2016.0,NaN,2018-09-29T12:01:21,True,...,NaN,2008-01-01,A,NaN,NaN,NaN,NaN,81.10Z,NAFRev2,O
99996,43835453,10,4383545300010,O,1995-12-25,NN,NaN,NaN,2017-05-04T01:04:57,True,...,NaN,2015-07-31,A,NaN,NaN,NaN,NaN,81.10Z,NAFRev2,N
99997,43835479,15,4383547900015,O,1997-12-25,NN,NaN,NaN,2014-06-13T23:07:11,True,...,NaN,2012-12-10,A,NaN,NaN,NaN,NaN,81.10Z,NAFRev2,N
99998,43835487,18,4383548700018,O,1995-12-25,NN,NaN,NaN,2009-06-27T03:11:03,False,...,NaN,2004-01-01,F,NaN,NaN,NaN,NaN,70.3C,NAFRev1,O
99999,43835487,26,4383548700026,O,2004-01-01,NN,NaN,NaN,2012-05-05T00:13:51,True,...,NaN,2008-01-01,A,NaN,NaN,NaN,NaN,81.10Z,NAFRev2,O

### Slipt Columns

In [123]:
df['activitePrincipaleEtablissement'].count()

99803

In [124]:
columns_int = df.select_dtypes(include=['int']).columns
columns_int

Index(['siren', 'nic', 'siret', 'nombrePeriodesEtablissement',
       'categorieJuridiqueUniteLegale', 'nicSiegeUniteLegale'],
      dtype='object')

In [125]:
columns_float = df.select_dtypes(include=['float']).columns
columns_float

Index(['anneeEffectifsEtablissement', 'denominationUsuelle3UniteLegale',
       'anneeEffectifsUniteLegale', 'anneeCategorieEntreprise',
       'codePostalEtablissement', 'codeCedexEtablissement',
       'codePaysEtrangerEtablissement', 'numeroVoie2Etablissement',
       'codePostal2Etablissement', 'libelleCommuneEtranger2Etablissement',
       'distributionSpeciale2Etablissement', 'codeCommune2Etablissement',
       'codeCedex2Etablissement', 'libelleCedex2Etablissement',
       'codePaysEtranger2Etablissement', 'libellePaysEtranger2Etablissement'],
      dtype='object')

In [126]:
columns_object = df.select_dtypes(include=['object']).columns
columns_object

Index(['statutDiffusionEtablissement', 'dateCreationEtablissement',
       'trancheEffectifsEtablissement',
       'activitePrincipaleRegistreMetiersEtablissement',
       'dateDernierTraitementEtablissement', 'etatAdministratifUniteLegale',
       'statutDiffusionUniteLegale', 'unitePurgeeUniteLegale',
       'dateCreationUniteLegale', 'denominationUniteLegale',
       'sigleUniteLegale', 'denominationUsuelle1UniteLegale',
       'denominationUsuelle2UniteLegale', 'sexeUniteLegale', 'nomUniteLegale',
       'nomUsageUniteLegale', 'prenom1UniteLegale', 'prenom2UniteLegale',
       'prenom3UniteLegale', 'prenom4UniteLegale', 'prenomUsuelUniteLegale',
       'pseudonymeUniteLegale', 'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale',
       'identifiantAssociationUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'caractereEmployeurUniteLegale',
       'trancheEffectifsUniteLegale', 'dateDernierTraitementUniteLegale',
       'categorieEntreprise', 'complementAdresseEtablissement',
       'numeroVoieEtablissement', 'indiceRepetitionEtablissement',
       'typeVoieEtablissement', 'libelleVoieEtablissement',
       'libelleCommuneEtablissement', 'libelleCommuneEtrangerEtablissement',
       'distributionSpecialeEtablissement', 'codeCommuneEtablissement',
       'libelleCedexEtablissement', 'libellePaysEtrangerEtablissement',
       'complementAdresse2Etablissement', 'indiceRepetition2Etablissement',
       'typeVoie2Etablissement', 'libelleVoie2Etablissement',
       'libelleCommune2Etablissement', 'dateFin', 'dateDebut',
       'etatAdministratifEtablissement', 'enseigne1Etablissement',
       'enseigne2Etablissement', 'enseigne3Etablissement',
       'denominationUsuelleEtablissement', 'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'],
      dtype='object')

In [127]:
df['siren'].nunique()

94339

In [128]:
df['siren'].count()

100000

In [129]:
df['siret'].nunique()

100000

In [130]:
df.groupby('siren').first().head()

,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,...,dateFin,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
siren,,,,,,,,,,,,,,,,,,,,,
325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,3,...,2018-02-06,2009-05-27,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
1807254,14,180725400014,O,1972-05-01,NaN,NaN,NaN,2009-10-02T11:01:38,False,3,...,NaN,2008-01-01,F,NaN,NaN,NaN,NaN,95.24Z,NAFRev2,N
5410220,15,541022000015,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1988-03-31,F,NaN,NaN,NaN,NaN,22.02,NAP,N
5410345,10,541034500010,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,79.06,NAP,N
5410394,18,541039400018,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1987-12-01,F,NaN,NaN,NaN,NaN,64.42,NAP,N

In [131]:
df.groupby('siren')['siret'].sum().head()

siren
325175     162587500169
1807254    361450800036
5410220    541022000015
5410345    541034500010
5410394    541039400018
Name: siret, dtype: int64

### Convert Column : Date Creation Etablissement TO Datetime

for i in range(len(df)):
    try:
        math.isnan(df['dateCreationEtablissement'][i]) 
    except:
        df['dateCreationEtablissement'][i] = datetime.strptime(df['dateCreationEtablissement'][i], '%Y-%m-%d')
        pass

## NAF APE

### Function Mean Date / Print Info

def mean_date(data):
    tot_date = 0
    count = 0
    
    for value in data:
        try:
            tot_date += value.year
            count += 1
        except:
            pass
    if count != 0:
        return int(tot_date/count)
    else:
        return 0

In [132]:
def print_infos(name_value,nb_value,mean_date_value,name_code,max_code):
    
    total = 0
    
    for i in range(len(name_value)):
        total += nb_value[i]
        try:
            l = i * 3 
            print("-Name : %s, \tTotal : %s, mean_date : %s, \tCode Commune (3): %s,%s,%s, nb_entreprises : %s,%s,%s, Département : %s,%s,%s\n" %(name_value[i],nb_value[i],mean_date_value[i],name_code[l],name_code[l+1],name_code[l+2],max_code[l],max_code[l+1],max_code[l+2],code_departement[l],code_departement[l+1],code_departement[l+2]))
               
        except:
            pass
        
    print("\nTotal siren : ",total)

### Find main Region foreach activitie

In [133]:
def max_region(data,df):
    
    list_code_commune = list()
    save_code_commune = list()
    save_count = list()
    final_save_count = list()
    final_name_code = list()

    for i in range(len(df)):
        try:
            list_code_commune.append(data[i])
        except:
            pass
        
   
       
    for i in range(len(list_code_commune)):
        count = 0
        for j in range(i,len(list_code_commune)):
            if list_code_commune[i] == list_code_commune[j]:
                count += 1
        if list_code_commune[i] not in save_code_commune:
            save_code_commune.append(list_code_commune[i])
            save_count.append(count)
       
    try:
        final_save_count.append(max(save_count))
        max_save_count = final_save_count[-1]
        nb_max = 3
    
        save = save_count[0]
    
        for j in range(nb_max-1):
            for i in range(len(save_count)):
                if save_count[i] > save and save_count[i] < max_save_count:
                    save = save_count[i]
            final_save_count.append(save)
            max_save_count = save
            save = save_count[0]
    except:
        pass
     
    for value in final_save_count:
        try:
            m_index = [i for i, j in enumerate(save_count) if j == value ]
            final_name_code.append(save_code_commune[m_index[0]])
            
        except:
            pass
            
    return final_name_code,final_save_count

### Function chiffres : Split Code_Commune

In [134]:
def chiffres(n):
    c = []
    while n >= 1:
        c.append(int(n % 10))
        n = n / 10
        
    save = 0
    for i in range(int(len(c)/2)):
        save = c[i]
        c[i] = c[-i -1]
        c[-i-1] = save
    return c

### Convert Code_Commune to Code_Departement

In [135]:
def code_depart(code):
    code_departement = []
    try:
        c = chiffres(int(code))
        #print(c)
        code_departement.append(c[0]*10 +c[1])

    except:
        pass
    
    return code_departement

### Print Info Nomenclature Activite Principale Etablissement

In [ ]:
tot = 0
name_value = list()
nb_value = list()
mean_date_value = list()
name_code = list()
max_code = list()
code_departement = list()

col_nomenclature = df['activitePrincipaleEtablissement'].unique()

for value in col_nomenclature:
    tot_imp = len(df[df['activitePrincipaleEtablissement'] == value].groupby('siren').first())

    #meandate = mean_date(df[df['activitePrincipaleEtablissement'] == value]['dateCreationEtablissement'])
    code,m = max_region(df[df['activitePrincipaleEtablissement'] == value]['codeCommuneEtablissement'],df)
    
    mean_date= 0
    # Save Infos
    name_value.append(value)
    nb_value.append(tot_imp)
    mean_date_value.append(meandate)
    
    for i in range(len(code)):
        name_code.append(code[i])
        max_code.append(m[i])
    
    
    for i in range(len(code)):
        try:
            c = chiffres(int(code[i]))
            #print(c)
            code_departement.append(c[0]*10 +c[1])

        except:
            pass
    

# Print infos
print_infos(name_value,nb_value,mean_date_value,name_code,max_code)

In [91]:
name_code[186]

13074.0

In [80]:
save = '18.11'
m_ = [i for i, j in enumerate(name_value) if j == save ]
print(m_)

[62]

In [111]:
tot = 0
name_value = list()
nb_value = list()
mean_date_value = list()
name_code = list()
max_code = list()
code_departement = list()

col_nomenclature = df['nomenclatureActivitePrincipaleEtablissement'].unique()

for value in col_nomenclature:
    tot_imp = len(df[df['nomenclatureActivitePrincipaleEtablissement'] == value].groupby('siren').first())

    meandate = mean_date(df[df['nomenclatureActivitePrincipaleEtablissement'] == value]['dateCreationEtablissement'])
    code,m = max_region(df[df['nomenclatureActivitePrincipaleEtablissement'] == value]['codeCommuneEtablissement'],df)
    
    
    # Save Infos
    name_value.append(value)
    nb_value.append(tot_imp)
    mean_date_value.append(meandate)
    
    for i in range(len(code)):
        name_code.append(code[i])
        max_code.append(m[i])
    
    
    for i in range(len(code)):
        try:
            c = chiffres(int(code[i]))
            #print(c)
            code_departement.append(c[0]*10 +c[1])

        except:
            pass
    

# Print infos

print_infos(name_value,nb_value,mean_date_value,name_code,max_code)

-Name : NAFRev2, 	Total : 10, mean_date : 0, 	Code Commune (3): 80001,4070,84007, nb_entreprises : 5,3,2, Département : 80,40,84

-Name : NAP, 	Total : 58, mean_date : 0, 	Code Commune (3): 80001,4049,4061, nb_entreprises : 7,5,3, Département : 80,40,40

-Name : NAF1993, 	Total : 16, mean_date : 0, 	Code Commune (3): 80001,80001,80001, nb_entreprises : 5,5,5, Département : 80,80,80

-Name : NAFRev1, 	Total : 2, mean_date : 0, 	Code Commune (3): 80001,80001,80001, nb_entreprises : 2,2,2, Département : 80,80,80


Total siren :  86

## French map : Use Librairie PYGAL

### Custom Style from map

In [54]:
custom_style = Style(
  background='transparent',
  #plot_background='transparent',
  transition='200ms ease-in',
)

### Function which draws chart

In [61]:
def chart():

    for i in range(50,80):
        fr_chart = pygal.maps.fr.Departments(style=custom_style,height=450)
        fr_chart.title = 'Activitie by departments'
        l = i * 3
        try:
            fr_chart.add(name_value[i], [code_departement[l],code_departement[l+1],code_departement[l+2]])
        except:
            pass

        #fr_chart.render()           # Exporte to SVG
        fr_chart.render_in_browser() # Exporte to Browser

In [62]:
chart()

file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpwh9qaxb8.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpxb_ig8tx.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp20_08byc.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpj0k53nd4.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpoln9wp34.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpyr6apmpa.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmphksxwm4j.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmptsim_un2.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpik4gii_9.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp9imo20se.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpqx68wiba.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp5zs3zyqi.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmprfq5tm7s.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmppwr08_x2.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp2ozo8ioh.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpxew04goy.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpcaaj2ux5.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmppltvu5bf.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpn20pb7d7.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpr2jo1g39.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmphp30hkwd.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpdtjhd4n5.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp4vvvuzet.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpigebvupu.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp6ld8uiqv.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp7z520v3t.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpz913_o68.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp4w90_you.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmptmmi5hlu.html
file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmpno2ddn8e.html

def chart():
    for i in range(3):
        fr_chart = pygal.maps.fr.Departments(style=custom_style,height=450)
        fr_chart.title = 'Activitie by departments'

        for i in range(len(name_value)):
            l = i * 3
            try:
                fr_chart.add(name_value[i], {code_departement[l] : max_code[l],code_departement[l+1]: max_code[l+1],code_departement[l+2] : max_code[l+2]})
            except:
                pass

        #fr_chart.render()           # Exporte to SVG
        fr_chart.render_in_browser() # Exporte to Browser

In [71]:
save = 18.11
m_ = [i for i, j in enumerate(name_value) if j == save ]

In [72]:
m_

[]