### Include Librairies

In [22]:
import pandas as pd
import seaborn as sns
import numpy as np
import math
from datetime import *
import pygal             # Usefull for french map
from pygal.style import Style
import matplotlib.pyplot as plt
%matplotlib inline

### Import Data

In [23]:
df = pd.read_csv('data.csv')

In [24]:
df.head()

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,dateFin,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,2018-02-06,2014-01-07,A,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

### Slipt Columns

In [25]:
columns_int = df.select_dtypes(include=['int']).columns
columns_int

Index(['siren', 'nic', 'siret', 'nombrePeriodesEtablissement',
       'categorieJuridiqueUniteLegale', 'nicSiegeUniteLegale',
       'codePostalEtablissement', 'codeCommuneEtablissement'],
      dtype='object')

In [26]:
columns_float = df.select_dtypes(include=['float']).columns
columns_float

Index(['anneeEffectifsEtablissement', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'pseudonymeUniteLegale',
       'identifiantAssociationUniteLegale', 'anneeEffectifsUniteLegale',
       'anneeCategorieEntreprise', 'numeroVoieEtablissement',
       'libelleCommuneEtrangerEtablissement', 'codeCedexEtablissement',
       'codePaysEtrangerEtablissement', 'libellePaysEtrangerEtablissement',
       'complementAdresse2Etablissement', 'numeroVoie2Etablissement',
       'indiceRepetition2Etablissement', 'codePostal2Etablissement',
       'libelleCommuneEtranger2Etablissement',
       'distributionSpeciale2Etablissement', 'codeCommune2Etablissement',
       'codeCedex2Etablissement', 'libelleCedex2Etablissement',
       'codePaysEtranger2Etablissement', 'libellePaysEtranger2Etablissement',
       'enseigne2Etablissement', 'enseigne3Etablissement'],
      dtype='object')

In [27]:
columns_object = df.select_dtypes(include=['object']).columns
columns_object

Index(['statutDiffusionEtablissement', 'dateCreationEtablissement',
       'trancheEffectifsEtablissement',
       'activitePrincipaleRegistreMetiersEtablissement',
       'dateDernierTraitementEtablissement', 'etatAdministratifUniteLegale',
       'statutDiffusionUniteLegale', 'unitePurgeeUniteLegale',
       'dateCreationUniteLegale', 'denominationUniteLegale',
       'sigleUniteLegale', 'denominationUsuelle1UniteLegale',
       'sexeUniteLegale', 'nomUniteLegale', 'nomUsageUniteLegale',
       'prenom1UniteLegale', 'prenom2UniteLegale', 'prenom3UniteLegale',
       'prenom4UniteLegale', 'prenomUsuelUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'caractereEmployeurUniteLegale',
       'trancheEffectifsUniteLegale', 'dateDernierTraitementUniteLegale',
       'categorieEntreprise', 'complementAdresseEtablissement',
       'indiceRepetitionEtablissement', 'typeVoieEtablissement',
       'libelleVoieEtablissement', 'libelleCommuneEtablissement',
       'distributionSpecialeEtablissement', 'libelleCedexEtablissement',
       'typeVoie2Etablissement', 'libelleVoie2Etablissement',
       'libelleCommune2Etablissement', 'dateFin', 'dateDebut',
       'etatAdministratifEtablissement', 'enseigne1Etablissement',
       'denominationUsuelleEtablissement', 'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'],
      dtype='object')

In [28]:
df['siren'].nunique()

875

In [29]:
df['siren'].count()

1000

In [30]:
df['siret'].nunique()

1000

In [31]:
df.groupby('siren').first()

,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,...,dateFin,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
siren,,,,,,,,,,,,,,,,,,,,,
325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,3,...,2018-02-06,2009-05-27,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
1807254,14,180725400014,O,1972-05-01,NaN,NaN,NaN,2009-10-02T11:01:38,False,3,...,NaN,2008-01-01,F,NaN,NaN,NaN,NaN,95.24Z,NAFRev2,N
5410220,15,541022000015,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1988-03-31,F,NaN,NaN,NaN,NaN,22.02,NAP,N
5410345,10,541034500010,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,79.06,NAP,N
5410394,18,541039400018,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1987-12-01,F,NaN,NaN,NaN,NaN,64.42,NAP,N
5410428,14,541042800014,O,1954-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,1989-06-11,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
5410436,17,541043600017,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,57.11,NAP,N
5410485,14,541048500014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1985-12-25,F,NaN,NaN,NaN,NaN,64.42,NAP,N
5410501,18,541050100018,O,1954-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,2001-12-31,F,NaN,NaN,NaN,NaN,55.4B,NAF1993,N
5410527,13,541052700013,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1997-07-01,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
5410642,10,541064200010,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1991-12-31,F,NaN,NaN,NaN,NaN,64.45,NAP,N
5410667,17,541066700017,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1996-10-30,F,NaN,NaN,NaN,NaN,55.4B,NAF1993,O
5410675,10,541067500010,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,62.43,NAP,N
5410717,10,541071700010,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1990-10-31,F,NaN,NaN,NaN,NaN,65.06,NAP,N
5410741,10,541074100010,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1985-12-25,F,NaN,NaN,NaN,NaN,64.42,NAP,N
5410758,14,541075800014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,67.05,NAP,N
5410873,29,541087300029,O,1980-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,1999-12-31,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
5410899,24,541089900024,O,2000-01-01,NN,NaN,NaN,2006-11-25T09:04:27,True,1,...,NaN,2001-03-22,F,NaN,NaN,NaN,NaN,74.1J,NAF1993,N
5410980,14,541098000014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1987-06-30,F,NaN,NaN,NaN,NaN,67.07,NAP,N
5411053,19,541105300019,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1991-03-31,F,NaN,NaN,NaN,NaN,65.03,NAP,N
5411343,14,541134300014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1992-10-31,F,NaN,NaN,NaN,NaN,50.1Z,NAF1993,N
5411434,11,541143400011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1987-09-30,F,NaN,NaN,NaN,NaN,65.02,NAP,N
5411483,18,541148300018,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,62.41,NAP,N
5411582,17,541158200017,O,1954-01-01,NN,NaN,NaN,2012-07-28T11:19:32,True,5,...,NaN,2010-12-25,F,NaN,NaN,NaN,NaN,68.20B,NAFRev2,N
5411699,19,541169900019,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1999-01-10,F,NaN,NaN,NaN,NaN,57.03,NAP,N
5411806,10,541180600010,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,62.11,NAP,N
5411954,18,541195400018,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,38.50,NAP,N
5411962,11,541196200011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1990-12-31,F,NaN,NaN,NaN,NaN,67.05,NAP,N
5420021,15,542002100015,O,1900-01-01,NN,NaN,NaN,2010-04-18T03:00:20,False,6,...,NaN,2008-09-05,F,NaN,NaN,NaN,NaN,46.69B,NAFRev2,O
5420047,10,542004700010,O,1900-01-01,NN,NaN,NaN,2008-10-01T16:56:43,True,5,...,NaN,2004-09-24,F,NaN,NaN,NaN,NaN,45.3F,NAFRev1,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5771712,14,577171200014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1985-12-25,F,NaN,NaN,NaN,NaN,81.21,NAP,N
5771753,18,577175300018,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,21.01,NAP,N
5771852,18,577185200018,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1994-12-28,F,NaN,NaN,NaN,NaN,52.3E,NAF1993,N
5771928,16,577192800016,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,87.03,NAP,N
5772033,14,577203300014,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,67.08,NAP,N
5772082,29,577208200029,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1987-12-25,F,NaN,NaN,NaN,NaN,64.40,NAP,N
5772181,11,577218100011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1989-09-16,F,NaN,NaN,NaN,NaN,62.43,NAP,N
5772215,17,577221500017,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1991-01-10,F,NaN,NaN,NaN,NaN,62.11,NAP,N
5772223,11,577222300011,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1991-01-10,F,NaN,NaN,NaN,NaN,62.11,NAP,N
5772256,11,577225600011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,64.11,NAP,N
5772264,15,577226400015,O,1957-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,1997-06-15,F,NaN,NaN,NaN,NaN,70.2A,NAF1993,N
5772330,22,577233000022,O,1995-02-01,NN,NaN,NaN,2008-01-04T17:54:15,True,3,...,NaN,2008-01-01,A,NaN,NaN,NaN,NaN,68.20B,NAFRev2,N
5772413,18,577241300018,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,64.11,NAP,N
5772603,14,577260300014,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1993-05-04,F,NaN,NaN,NaN,NaN,55.4B,NAF1993,N
5772611,17,577261100017,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1988-03-26,F,NaN,NaN,NaN,NaN,87.03,NAP,N
5772751,11,577275100011,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1994-03-04,F,NaN,NaN,NaN,NaN,67.04,NAP,N
5772850,11,577285000011,O,1957-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,1998-09-30,F,NaN,NaN,NaN,NaN,52.4R,NAF1993,N
5772926,19,577292600019,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,67.07,NAP,N
5772967,13,577296700013,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,62.41,NAP,N
5773098,16,577309800016,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1989-10-31,F,NaN,NaN,NaN,NaN,57.02,NAP,N
5773130,17,577313000017,O,NaN,NN,NaN,NaN,NaN,True,1,...,NaN,1992-09-10,F,NaN,NaN,NaN,NaN,52.7F,NAF1993,N
5773163,18,577316300018,O,1900-01-01,NN,NaN,NaN,NaN,True,4,...,NaN,1994-12-25,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
5773270,11,577327000011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,38.50,NAP,N
5773361,18,577336100018,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1988-09-30,F,NaN,NaN,NaN,NaN,57.01,NAP,N
5773445,19,577344500019,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,67.01,NAP,N
5773544,35,577354400035,O,1984-11-30,NN,NaN,NaN,NaN,True,1,...,NaN,2001-11-28,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
5773577,19,577357700019,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,81.21,NAP,N
5773957,13,577395700013,O,1957-01-01,NN,NaN,NaN,NaN,True,1,...,NaN,2000-09-30,F,NaN,NaN,NaN,NaN,52.2E,NAF1993,N
5774161,11,577416100011,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1990-06-29,F,NaN,NaN,NaN,NaN,21.01,NAP,N
5774179,13,577417900013,O,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,62.43,NAP,N

In [32]:
df.groupby('siren')['siret'].sum().head()

siren
325175     162587500169
1807254    361450800036
5410220    541022000015
5410345    541034500010
5410394    541039400018
Name: siret, dtype: int64

### Convert Column : Date Creation Etablissement TO Datetime

In [33]:
for i in range(len(df)):
    try:
        math.isnan(df['dateCreationEtablissement'][i]) 
    except:
        df['dateCreationEtablissement'][i] = datetime.strptime(df['dateCreationEtablissement'][i], '%Y-%m-%d')
        pass

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

## NAF APE

### Function Mean Date / Print Info

In [34]:
def mean_date(data):
    tot_date = 0
    count = 0
    
    for value in data:
        try:
            tot_date += value.year
            count += 1
        except:
            pass
    if count != 0:
        return int(tot_date/count)
    else:
        return 0

In [35]:
def print_infos(name_value,nb_value,mean_date_value,name_code,max_code):
    
    total = 0
    
    for i in range(len(name_value)):
        total += nb_value[i]
        try:
            print("-Name : %s, \tnb : %s, mean_date : %s, \tCode Commune : %s, DÃ©partement : %s,  nb entreprise : %s" %(name_value[i],nb_value[i],mean_date_value[i],name_code[i],code_departement[i],max_code[i]))
        except:
            pass
        
    print("\nTotal siren : ",total)

### Find main Region foreach activitie

In [36]:
def max_region(data,df):
    
    list_code_commune = list()
    save_code_commune = list()
    save_count = list()



    for i in range(len(df)):
        try:
            list_code_commune.append(data[i])
        except:
            pass
    
    
    
    for i in range(len(list_code_commune)):
        count = 0
        for j in range(i,len(list_code_commune)):
            if list_code_commune[i] == list_code_commune[j]:
                count += 1
        save_code_commune.append(list_code_commune[i])
        save_count.append(count)
       
    try:
        m = max(save_count)
        m_index = [i for i, j in enumerate(save_count) if j == m]
        name_code = save_code_commune[m_index[0]]
        
    except:
        name_code = 0
        m = 0
        pass
        
    return name_code,m

### Function chiffres : Split Code_Commune

In [37]:
def chiffres(n):
    c = []
    while n >= 1:
        c.append(int(n % 10))
        n = n / 10
        
    save = 0
    for i in range(int(len(c)/2)):
        save = c[i]
        c[i] = c[-i -1]
        c[-i-1] = save
    return c

### Convert Code_Commune to Code_Departement

In [38]:
def code_depart(code):
    code_departement = []
    try:
        c = chiffres(int(code))
        #print(c)
        code_departement.append(c[0]*10 +c[1])

    except:
        pass
    
    return code_departement

### Print Info Nomenclature Activite Principale Etablissement

In [39]:
tot = 0
name_value = list()
nb_value = list()
mean_date_value = list()
name_code = list()
max_code = list()
code_departement = list()

col_nomenclature = df['nomenclatureActivitePrincipaleEtablissement'].unique()

for value in col_nomenclature:
    tot_imp = len(df[df['nomenclatureActivitePrincipaleEtablissement'] == value].groupby('siren').first())

    meandate = mean_date(df[df['nomenclatureActivitePrincipaleEtablissement'] == value]['dateCreationEtablissement'])
    code,m = max_region(df[df['nomenclatureActivitePrincipaleEtablissement'] == value]['codeCommuneEtablissement'],df)
    
    
    # Save Infos
    name_value.append(value)
    nb_value.append(tot_imp)
    mean_date_value.append(meandate)
    name_code.append(code)
    max_code.append(m)
    
    try:
        c = chiffres(int(code))
        #print(c)
        code_departement.append(c[0]*10 +c[1])

    except:
        pass
    


# Print infos
print_infos(name_value,nb_value,mean_date_value,name_code,max_code)

-Name : NAFRev2, 	nb : 103, mean_date : 1974, 	Code Commune : 80001, DÃ©partement : 80,  nb entreprise : 24
-Name : NAP, 	nb : 586, mean_date : 1922, 	Code Commune : 44184, DÃ©partement : 44,  nb entreprise : 72
-Name : NAF1993, 	nb : 189, mean_date : 1957, 	Code Commune : 4070, DÃ©partement : 40,  nb entreprise : 24
-Name : NAFRev1, 	nb : 28, mean_date : 1966, 	Code Commune : 80001, DÃ©partement : 80,  nb entreprise : 8

Total siren :  906

## French map : Use Librairie PYGAL

### Custom Style from map

In [50]:
custom_style = Style(
  background='transparent',
  #plot_background='transparent',
  transition='200ms ease-in',
  #colors=('#e5849b', '#e5849b', '#f3d387', '#8fd9b3', '#E89B53'),
)

### Function which draws chart

In [57]:
def chart():
    fr_chart = pygal.maps.fr.Departments(style=custom_style,height=450)
    fr_chart.title = 'Activities by departments'
    
    for i in range(len(code_departement)):
        fr_chart.add(name_value[i], {code_departement[i]: max_code[i]})
    
    
    #fr_chart.render()           # Exporte to SVG
    fr_chart.render_in_browser() # Exporte to Browser

In [58]:
chart()

file:///var/folders/v3/6rms4ljn2dzdln_l8746trf00000gn/T/tmp4o7gxcv5.html